<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务条款</title>
</head>
<body>
<div class="scr">
    <p>《用户服务协议》（以下简称“本协议”）是小虎网络技术有限公司（以下简称“本公司”）与本网站的使用者（以下简称“用户”）达成的关于使用网服务的各项规则、条款和条件。请您务必仔细阅读本协议，充分理解各条款内容。您对本网站的使用使得本协议成为对双方有约束力的法律文件。如果您不同意本协议中的任何内容，您则无权安装或使用本网站及其相关服务。您的安装、使用行为将视为对本《协议》的充分知晓和认可，并同意接受本《协议》各项条款的约束。</p>

    <h2>一、本网站服务条款的确认和接纳</h2>
    <p>1.	本网站的各项电子服务的所有权和运作权归本公司所有。用户同意所有注册协议条款并完成注册程序，才能成为本网站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或公司修改本协议相关内容，依其规定。</p>
    <p>2.	用户使用本网站的，即视为用户确认自己具有享受本网站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
    <p>3.	青少年用户特别提示 青少年用户必须遵守全国青少年网络文明公约：
        要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。</p>
    <p>4.	您须知晓使用本网站时，可能会接触到令您个人感到不快、不适或厌恶之内容，遇上述情况，请您立即停止使用本网站，本公司将不对上述情况承担责任。</p>
    <p>5.	本公司保留在中华人民共和国（不包括香港特别行政区、澳门特别行政区和台湾地区）适用法律（以下简称“中国法律”）允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容等权利。</p>

    <h2>二、用户注册</h2>
    <p>1.	用户注册是指用户登录XXXX网，按要求填写相关信息并确认同意本协议的过程。用户因进行交易、获取有偿服务等而发生的所有应纳税赋由用户自行承担。您在注册成为XXXX网用户时提供的信息应真实、完整、有效，并保证本公司可以通过该等信息与用户本人进行联系。同时，用户也有义务在相关资料发生变更时及时、详尽、准确地更新注册资信息。</p>
    <p>2.	所有原始键入的资料将引用为注册资料。如果因注册信息不真实或更新不及时而引发的相关问题，XXXX网不负任何责任。您可以通过XXXX网帐号设置页面查询、更正您的信息，用户应当通过真实身份信息认证注册帐号，且用户提交的帐号名称、头像和简介等注册信息中不得出现违法和不良信息。经XXXX网审核，存在上述情况的，本网站将不予注册；同时，在注册后，如XXXX网发现用户以虚假信息骗取帐号名称注册，或其帐号名称、头像、简介等注册信息存在违法和不良信息的，本网站有权不经通知，单方采取限期改正、删除信息、限制功能、暂停使用、注销登记、收回注册等措施。</p>
    <p>3.	XXXX网帐号包括帐户名称和密码，用户可使用设置的帐户名称（包括用户名、手机号、邮箱、QQ或新浪微博）和密码登录本网站；在帐号使用过程中，为了保障您的帐号安全，基于不同的终端以及您的使用习惯，我们可能采取不同的验证措施识别您的身份。例如您的帐户在新设备首次登录，我们可能通过密码加手机校验码的方式识别您的身份，验证方式包括但不限于手机短信验证码、服务使用信息验证。</p>
    <p>4.	用户不应将其帐号、密码转让、出售或出借予他人使用，若用户授权他人使用帐户，应对被授权人在该帐户下发生所有行为负全部责任。</p>
    <p>5.	因您个人原因导致的帐号信息遗失，如需找回本网站帐号信息，请按照XXXX网帐号找回要求提供相应的信息，并确保提供的信息合法真实有效，若提供的信息不符合要求，无法通过本网站验证，XXXX网有权拒绝提供帐号找回服务；若帐号的唯一凭证不再有效，XXXX网有权拒绝支持帐号找回。例如手机号二次出售，本网站可拒绝支持帮助找回原手机号绑定的帐号。</p>
    <p>6.	为了防止用户怠于更新注册账号时提供的真实身份认证信息，如用户连续六个月未使用XXXX网帐号或未通过XXXX网认可的其他方式登录过本网站帐户，XXXX网有权要求用户通过帐户名称（包括用户名、手机号、邮箱、QQ或新浪微博）和密码重新登录该账号。</p>
    <p>7.	您可以对账户设置用户名，您也可以通过该用户名和登录密码登录XXXX网平台。您设置的用户名不得违反相关法律法规、侵犯或涉嫌侵犯他人合法权益。如有，本网站有权终止向您提供本平台服务，注销您的XXXX网账户。在成功注册后，本公司会为每位用户开通一个账户，作为其使用本网站服务的唯一身份标识，用户应妥善保管该账户的用户名和密码，并对在其账户和密码下发生的所有活动承担责任。除非有法律规定或司法裁定，或者符合XXXX网公布的条件，否则用户不得以任何形式转让或授权他人使用自己的XXXX网账户，也不使用他人账户在XXXX网进行注册和使用。</p>
    <p>8.	用户须自行负责对其的用户名和密码进行保密，且须对该用户名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、接受或支出虚拟奖励、网上续签协议或购买服务等）承担责任。您同意：(a) 如发现任何人未经授权使用您的用户名和密码，或发生违反保密规定的任何其他情况，您会立即通知本网站，并授权我们将该信息同步给XXXX网；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站/服务。XXXX网不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解本网站对您的请求采取行动需要合理时间，本网站对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
    <p>9.	用户同意本公司拥有通过邮件、短信、电话等形式，向其发送订单信息、促销活动等告知信息的权利。</p>
    <p>10.	用户同意本公司有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行合法的证据保全，包括但不限于公证、见证等。</p>

    <h2>三、用户的权利及义务</h2>
    <p>1.	用户有权根据本协议的约定，在XXXX网上浏览信息、参与讨论、邀请关注好友、上传用户图片、获得虚拟奖励、购买服务、参加本网站有关活动（如适用），以及享受本网站提供的其它服务。</p>
    <p>2.	用户应当保证在使用XXXX网的过程中遵守相关法律法规，不扰乱网上浏览、交流的正常秩序。</p>
    <p>3.	用户享有言论自由权利，并拥有适度修改、删除自己发表的文章的权利。</p>
    <p>4.	用户在使用XXXX网服务时，必须遵守《网络安全法》、《互联网新闻信息服务管理规定》等中华人民共和国相关法律法规的规定，用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为：
        （1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
        　　1）反对宪法所确定的基本原则的；
        　　2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        　　3）损害国家荣誉和利益的；
        　　4）煽动民族仇恨、民族歧视、破坏民族团结的；
        　　5）破坏国家宗教政策，宣扬邪教和封建迷信的；
        　　6）散布谣言，扰乱社会秩序，破坏社会稳定的；
        　　7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        　　8）侮辱或者诽谤他人，侵害他人合法权利的；
        　　9）含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
        　　10）含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
        （2）不得为任何非法目的而使用网络服务系统；
        （3）不利用XXXX网服务从事以下活动：
        　　1) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
        　　2) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；
        　　3) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和网站程序进行删除、修改或者增加的；
        　　4) 故意制作、传播计算机病毒等破坏性程序的；
        　　5) 其他危害计算机信息网络安全的行为。</p>
    <p>5．用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，您同意赔偿XXXX网与合作公司、关联公司，并使之免受损害。对此，XXXX网有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收本网站帐号、追究法律责任等措施。对恶意注册XXXX网帐号或利用本网站帐号进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本协议的行为，本网站有权回收其帐号。同时，我公司会视司法部门的要求，协助调查。</p>
    <p>6．用户不得对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
    <p>7．用户须对自己在使用XXXX网服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在本公司首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予我公司等额的赔偿。</p>
    <p>8．用户在使用XXXX网服务时遵守以下互联网底线：
        　　1）法律法规底线
        　　2）社会主义制度底线
        　　3）国家利益底线
        　　4）公民合法权益底线
        　　5）社会公共秩序底线
        　　6）道德风尚底线
        　　7）信息真实性底线</p>
    <p>5.用户使用须知及隐私保护
        （1）用户须自行配备电脑设备及手机设备；
        （2）用户同意本公司基于下列原因需要使用用户的信息资源：
        A.执行网站验证服务；
        B.执行网站升级服务；
        C.提高用户的使用安全性并提供客户支持；
        D.改善或提高网站的技术和服务，例如，帮助本公司了解用户使用网站和服务时遇到的问题，帮助我们改善我们网站和服务的质量、性能和安全性；
        E.在用户同意的情况下，将根据用户信息所作出的统计数据、行为分析等非关联用户身份识别的信息提供给合作单位，用于呈现合作效果；
        F.为用户发送通知及XXXX网提供的服务信息。
        （3）本公司将会采取合理的措施保护用户信息，不向第三方公开、透露用户信息，除以下情形之外：
        A.基于法律或法律赋予权限的政府部门要求；
        B.用户同意本公司公开、透露用户信息的；
        C.用户与本公司及第三方合作单位之间就用户信息公开或使用另有约定的。</p>
    <p>6. 用户不得利用本网站及服务进行故意制作、传播计算机病毒等破坏性程序，不得针对本服务、与本网站及服务连接的服务器或网络制造干扰、混乱，或违反连接本网站及服务的网络的任何要求、程序、政策或规则，否则本网站将保留追究其法律责任的权利并有权将其提交给相关部门处理。</p>
    <p>7. 用户不得利用本网站及服务传播、复制、发送、上传和发布任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽色情性等内容的信息。</p>
    <p>8. 用户依本协议条款所取得的服务权利不可转让。</p>
    <p>9. 如用户违反国家法律法规或本协议条款，本公司和合作公司将有权停止向用户提供服务而不需承担任何责任。如导致XXXX网或其合作公司遭受任何损害或遭受任何来自第三方的纠纷、诉讼、索赔要求等，用户须向本公司或合作公司赔偿相应的损失，用户并需对其违反服务条款所产生的一切后果负全部法律责任。本网站有权认定和删除用户所发表的任何不符合国家法律、法规和政策、本服务条款的任何文章、资料、图片、图表等内容，且不需要对用户另行通知。</p>
    <p>10. 本公司保留在任何时候因为任何原因拒绝向任何人提供服务的权利。</p>
    <p>11. 本网站中可能存在网友提供之内容，您了解并且同意本公司不能为用户行为负责。使用本网站及服务产生的所有风险由用户个人承担。如果您发现本网站及服务中存在任何违法违规行为，有义务及时向本网站举报。</p>
    <p>12.用户可以非商业性地下载、安装本网站产品。如果需要进行商业性的销售、复制和散发，例如网站预装和捆绑，必须获得本公司的书面授权和许可。</p>
    <p>13.使用本网站由用户承担风险，用户应具备本网站产品运行所需的条件，用户必须保证有权使用其运行所需操作系统。在适用法律允许的最大范围内，本公司在任何情况下不就用户因使用或不能使用本网站产品所发生的特殊的、意外的、直接的或间接的侵权或遭致损失承担赔偿责任。即使已事先被告知该损害发生的可能性。</p>
    <p>14. 如因用户不遵守本条上述任意一款或者几款的规定，本公司有权在不事先通知用户的情况下将相应的内容删除或停止用户使用XXXX网或服务，由此而造成的任何用户损失，由用户自行承担；如造成本公司损失的，本公司有权要求用户给予相应的赔偿，包括但不限于本公司因此被国家机关予以行政处罚，或者被第三方通过诉讼或其他的方式索赔，赔偿范围包括但不限于罚款、赔偿金以及本公司支付的相应的诉讼费、律师费。</p>

    <h2>五、本公司的权利和义务</h2>
    <p>1.	本公司有义务在现有技术上维护整个网站的正常运行，并努力提升和改进技术，使用户线上交易活动得以顺利进行。</p>
    <p>2.	对于用户在本网站作出下列行为的，本公司有权作出删除相关信息、终止提供服务等处理，而无须征得用户的同意：</p>
    （1）本公司有权对用户的注册信息及其他行为进行查阅，发现注册信息或其他行为中存在任何问题的，有权向用户发出询问及要求改正的通知或者作出删除等处理；
    （2）用户违反本协议规定或有违反法律法规和地方规章的行为的，本公司有权停止传输并删除其信息，禁止用户发言，限制用户订购，注销用户账户并按照相关法律规定向相关主管部门进行披露；
    <p>3.   本公司保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</p>

    <h2>六、相关说明和特别授权</h2>
    <p>1. XXXX网中的信息内容随时都有可能发生变动，本公司不作特别通知。本公司会尽最大努力保证您所浏览信息的准确性，但由于众所周知的移动互联网技术因素等客观原因存在，页面显示的信息可能会有一定的滞后性或差错，对此情形希望您知悉并理解。</p>
    <p>2. 用户在YOK时尚网发表的言论，仅代表个人观点，与本网站无关。对于用户言论的真实性引发的全部责任，由用户自行承担，本公司不承担任何责任。</p>
    <p>3. 用户之间因在XXXX网中的发言而产生或可能产生的任何纠纷和/或损失，由用户自行解决并承担相应的责任，与本网站无关。</p>
    <p>4. 用户在XXXX网发表的作品（包括但不限于图文、音视频等），本公司有权转载或引用。</p>
    <p>5. 用户在任何时间段在XXXX网发表的任何内容的著作财产权，用户许可本公司在全世界范围内免费地、永久性地、不可撤销地、可分许可地和非独家地使用的权利，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作权人享有的其他著作财产权利。并且，用户许可本公司有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。</p>

    <h2>七、服务的中断和终止</h2>
    <p>1.如用户向XXXX网提出注销用户账号时，经本网站审核同意，由本网站注销该用户账号，用户即与本公司解除本协议。但注销该用户账号后，本公司仍有权：</p>
    （1）保留该用户的注册信息及过往的行为记录；
    （2） 如用户在注销前在XXXX网上存在违法行为或违反本协议的行为，XXXX网仍保留要求用户承担相应责任的权利。
    <p>2. 在下列情况下，本公司可以通过注销用户账户的方式终止服务：</p>
    （1）在用户违反本协议相关规定时，本公司有权终止向该用户提供服务。如该用户在本公司终止提供服务后，再一次直接或间接或以他人名义注册为本网站用户的，本公司有权拒绝向该用户提供服务；
    （2）一经发现用户注册信息中的内容是虚假的，本公司有权随时终止向该用户提供服务；
    （3）本协议终止或更新时，用户明示不愿接受新的服务协议的。

    <h2>八、知识产权声明及其他合法权益（包括但不限于名誉权、商誉权）</h2>
    <p>1. XXXX网尊重他人知识产权和合法权益，呼吁用户也要同样尊重知识产权和他人合法权益。若您认为您的知识产权或其他合法权益被侵犯，请按照以下说明向本网站提供资料∶
        请注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果上述个人或单位不确定网络上可获取的资料是否侵犯了其知识产权和其他合法权益，本网站建议该个人或单位首先咨询专业人士。</p>
    <p>2. 为了XXXX网有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）：</p>
    （1）权利人对涉嫌侵权内容拥有知识产权或其他合法权益和/或依法可以行使知识产权或其他合法权益的权属证明；
    （2）请充分、明确地描述被侵犯了知识产权或其他合法权益的情况并请提供涉嫌侵权的第三方网址（如果有）。
    （3）请指明涉嫌侵权网页的哪些内容侵犯了第2项中列明的权利。
    （4）请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。
    （5）请提供涉嫌侵权内容在信息网络上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与您举报的含有侵权内容的网页的所有权人/管理人联系。
    （6）请在权利通知中加入如下关于通知内容真实性的声明： “我保证，本通知中所述信息是充分、真实、准确的，如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。”
    （7）请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。
    　　请您把以上资料和联络方式书面发往以下地址：
    中国北京市朝阳区光华路甲9号3号楼9层
    　　 YOKA　法务部
    　　 邮政编码：100020
    <p>3．对于用户通过XXXX网服务上传到本网站上可公开获取区域的任何内容，用户同意XXXX网在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</p>
    <p>4．　本网站内任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件：</p>
    所有的资料和图象均以获得信息为目的；
    所有的资料和图象均不得用于商业目的；
    所有的资料、图象及其任何部分都必须包括此版权声明；
    未经XXXX网许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，本网站将依法追究法律责任。

    <h2>九、协议更新及用户关注义务</h2>
    <p>根据中国法律法规变化及网站运营需要，本公司有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本网站上即生效，并代替原来的协议。用户可随时登陆查阅最新协议；用户有义务不时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，应立即停止接受XXXX网依据本协议提供的服务；如用户继续使用本网站提供的服务，即视为同意更新后的协议。本公司建议您在使用本网站之前阅读本协议及本网站的公告。 如果本协议中任何条款被视为废止、无效或因任何理由不可执行，该条款的效力瑕疵并不影响本协议其他条款的有效性和可执行性。</p>

    <h2>十、法律管辖和适用</h2>
    <p>本协议的订立、执行和解释及争议的解决均应适用在中国法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将按法律规定重新解释，而其它有效条款继续有效。 如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向北京仲裁委员会提请仲裁。</p>

    <h2>十一、其他</h2>
    <p>1.	本公司是指在工商部门依法设立并有效存续的经营主体。</p>
    <p>2.	本公司尊重用户和消费者的合法权利，本协议及本网站上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本网站欢迎用户和社会各界提出意见和建议，本公司将虚心接受并适时修改本协议及本网站上的各类规则。</p>
    <p>3.	本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请用户着重阅读。</p>
    <p>4.	您使用本网站的行为即视为您完全接受本协议，在使用之前请您再次确认已知悉并完全理解本协议的全部内容。</p>

    <p>北京凯铭风尚网络技术有限公司版权所有，在现有法律法规允许的范围内，保留最终的解释权利。</p>
</div>
<div class="toolbar center">
    <a href="#" th:href="@{/login}" onclick="show_box('signup-box'); return false;" class="back-to-login-link"><i class="icon-arrow-left"></i> 返回登陆页面</a>
</div>
</body>
<script src="comm/jquery.min.js" th:src="@{/comm/jquery.min.js}"></script>
<script th:src="@{/myjs/script.js}"></script>
</html>